<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paste</title>
  <link rel="icon" href="data:,">
  <link rel="preload" href="/res/style.css" as="style" onload="this.rel='stylesheet'" />
  <script src="/res/theme.js"></script>
</head>

<body class="centered">
  <main>
    <div class="page-content">
      <pre>{{ERROR}}</pre>
<pre class="ascii-art">
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⠛⠛⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⠁⠀⠀⡀⠈⣿⣿⡟⠁⠀⠀⠈⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⡿⠻⢿⣿⡇⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⢀⡷⠀⢹⡟⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠉⠀⠀⠀⠙⣿⠀⢰⡀⠀⠀⠀⠙⠛⠛⠛⠛⠀⠀⠀⠀⠀⠀⢸⠇⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⡄⠀⠀⠀⠀⠈⠀⠘⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⠿⢿⠟⣿⢛⡏⣻⣿
⣄⠀⠀⠀⠀⠀⠀⠀⠁⠀⡤⠲⢄⠀⠀⠀⢠⠎⠙⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⠂⢨⡅⢉⢈⣀⡄⢹
⣿⣦⡀⠀⠀⠀⠠⠀⠀⢸⠇⠀⠘⡇⠀⠀⢾⠀⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⡿⠛⣁⣤⣼⣷⣾⠟⢋⣡⣿
⣿⣿⣷⣄⠀⠀⠀⠀⠀⠘⡆⠀⢰⠃⠀⠀⠘⠄⢀⠜⠀⠀⠀⠀⠀⢀⠄⠀⠀⠀⠀⣼⡿⠟⣁⣴⣦⠹⡿⠿⠟⢁⣴⣿⣿⣿
⣿⣿⣿⣿⣦⠀⠀⠀⠀⠀⠈⠒⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡞⠀⠀⠀⠀⠘⢁⣤⣆⠻⡿⠟⢁⣤⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡾⠁⠀⠀⣀⣤⡄⢻⡿⠟⣀⣤⡾⠛⠁⠀⠈⣿⠿⠛⠉⢻
⣿⣿⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⠁⢀⣤⡘⢿⡿⠟⢀⡤⠾⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⣼
⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⣠⣾⣿⣦⠀⠀⠀⠀⢋⣤⠸⣿⡿⠗⢀⣤⣾⠏⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠾⢿
⣿⣿⣿⣿⣿⣿⣿⠿⠇⠀⠀⠀⢀⣴⡿⠿⠿⠿⠇⢀⣠⡆⢻⡿⠇⠈⠀⠀⠸⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢨
⣿⣿⣿⣿⡿⠋⣀⣤⣤⣤⣶⣶⠋⣡⣶⡞⢂⣤⣶⡘⠿⠟⠀⠀⠀⠀⠀⠀⠀⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣿
⣿⣿⣿⠏⢀⣾⣿⣿⣿⣿⣿⡇⠺⣿⣿⣷⣌⠻⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿
⣿⣿⡿⠀⡾⠿⣿⣿⣿⠟⣩⣶⣷⡈⢿⣿⣿⣷⣾⣷⣤⣤⠤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣠⣶⣿⣿⣿⣿
⣿⣿⡇⠀⣷⣶⣿⣿⣧⡈⢿⣿⣿⠟⢨⣿⣿⣿⣿⣿⡿⠷⠴⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣴⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣇⠀⢻⣿⣿⣿⣿⣷⡄⢋⣤⡾⠆⠉⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⡄⠈⣿⣿⣿⣿⣿⣿⠿⠋⢀⣤⣦⠘⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣷⡄⠈⢿⣿⣿⡟⠁⣠⣶⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣦⣀⠉⠛⠿⠿⠟⠋⠁⠀⠀⠀⢠⣶⣶⣶⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠟⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⣀⣀⣀⣀⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⣀⠀⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿</pre>
    </div>
  </main>
  <!-- 67 >_< -->
</body>

</html>
