<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paste</title>
  <link rel="icon" href="data:,">
  <link rel="preload" href="/res/style.css" as="style" onload="this.rel='stylesheet'" />
  <link rel="preload" href="/res/prismjs.css" as="style" onload="this.rel='stylesheet'" />
  <script src="/res/prism.js"></script>
  <script src="/res/theme.js"></script>
  <style>
    body,
    html,
    pre {
      margin: 0;
    }

    html {
      background: var(--mantle);
    }
  </style>
</head>

<body>
  <main class="line-numbers">
    <pre><code class="language-{{LANG}}">{{TEXT}}</code></pre>
  </main>
  <!--meow meow :3 -->
</body>

</html>